header {
  width: 100%;
  /* background-color: #d35400; */
  overflow: hidden;
  border-bottom: 1px solid #f1948a;
}
.logo {
  background-image: url(br3.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20%;
  float: left;
  text-align: center;
}

.menu {
  width: 50%;
  float: left;
}

.search {
  width: 30%;
  float: left;
}

.item {
  list-style: none;
  float: left;
  margin: 15px;
}

.item li {
  display: inline-block;
}

.item li a {
  color: rgb(1, 2, 3);
  text-decoration: none;
  padding: 5px 20px;
  font-weight: bold;
}

.item li a:hover {
  background-color: #f0b17acc;
  color: #f7f4f2;
}

.search {
  text-align: right;
  margin: 0;
}

.container {
  width: auto;
  height: auto;
  margin-left: 5px;
  /* float: left; */
}
.image {
  width: auto;
  height: 320px;
  float: left;
  padding: 10px;
  margin: 8px;
  background-color: #fae5d3;
  border: 2px solid #f1948a;
  border-radius: 5px;
  box-shadow: 10px 5px 10px #ebaea796;
}
.image img {
  width: 100%;
  height: 270px;
}

p {
  text-align: center;
}

.offer {
  background-image: url(ban.png);
  background-size: cover;
  /* background-color: #f0b27a; */
  width: 100%;
  height: 300px;
  float: inline-end;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #f1948a;
}
.oimg {
  background-image: url(offer33.png);
  background-size: cover;
  width: 25%;
  height: 300px;
  float: left;
}
.text {
  width: 40%;
  height: 300px;
  float: left;
}

.container2 {
  width: auto;
}

.headline h1 {
  font-size: 18pt;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  width: 160px;
  height: auto;
  color: #f1948a;
}
.image2 {
  width: auto;
  height: 400px;
  float: left;
  padding: 10px;
  margin: 10px;
  background-color: #fae5d3;
  border: 2px solid #f1948a;
  border-radius: 5px;
  box-shadow: 10px 5px 10px #ebaea796;
}
.image2 img {
  width: 280px;
  height: 350px;
  float: left;
}

p {
  text-align: center;
}
.accessories {
  width: 100%;
  margin: 50px;
  text-align: center;
}

.bag {
  width: 45%;
  float: left;
}

.shoes {
  width: 45%;
  float: left;
}

footer {
  background-color: #5d6d7ed8;
  color: aliceblue;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  height: 80px;
  text-align: center;
  font-weight: bold;
  float: inline-end;
}
